.DS_Store
.obj
*.moc
Makefile*
*.dylib
*.so.*
*.so
*.so.debug
*.o
*~
.cd.rc
*.swp
.qmake.stash
moc_*.cpp
*.Debug
*.Release
*.pdb
*.idb
*.ib_pdb_index
build
.build
doc/html/*
doc/qch/*
config.pri
config.in
config.log
mobility.prf
mobilityconfig.prf
bin/servicexmlgen*
bin/servicefw*
bin/vsexplorer*
bin/examples/*
bin/sysinfo*
bin/qcrmlgen*
bin/icheck*
bin/servicedbgen*
bin/BearerEx
bin/contacts-tester
install/*
lib/*
*/lib/*
*.app
config.tests/networkmanager/networkmanager
config.tests/qmf/qmf
config.tests/maemo5-contacts/maemo5-contacts
config.tests/bluez/bluez

.qmake.cache
translations/qtmobility_untranslated.ts
translations/qtmobility_*.qm

#Symbian specific
*.mmp
*.pkg
bld.inf*
ABLD.BAT
*.rss
*.sis
*.loc
*.sisx
.make.cache
qmakepluginstubs

#Carbide project files
*.project
*.cproject
*.settings
plugin_commonU.def

#Visual Studio files
*.sln
*.vcproj
*.suo
*.ncb
*.user

#QtCreator project files
*.pro.user
*.pro.user*
*~
*.autosave

# Failed patch
*.orig
*.rej

#Xcode
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# iOS/Project merge
bin/
armeabi/
obj/


# Android folders
gen/
andr/assets

# Qt folders
rcc/

# Qt Necessitas folders
#/android/ # this folder is needed now, for custom AndroidManifest and project.properties file for example

# Meego files
qtc_packaging/
/GameleonQML
/build-stamp
/data.tar.gz

atool_temp/
*.deb
*.changes
debian/
debug/
release/
_aegis
configure-stamp

/CarChallengeQML/android/AndroidManifest.xml
/CarChallengeQML/android/build.xml
/CarChallengeQML/android/gen/R.java.d
/CarChallengeQML/android/gen/org/kde/necessitas/example/CarChallengeQML/R.java
/CarChallengeQML/android/gen/org/kde/necessitas/ministro/IMinistro.java
/CarChallengeQML/android/gen/org/kde/necessitas/ministro/IMinistro.java.d
/CarChallengeQML/android/gen/org/kde/necessitas/ministro/IMinistroCallback.java
/CarChallengeQML/android/gen/org/kde/necessitas/ministro/IMinistroCallback.java.d
/CarChallengeQML/android/local.properties
/CarChallengeQML/android/proguard.cfg
/CarChallengeQML/android/project.properties
/CarChallengeQML/android/res/drawable-hdpi/icon.png
/CarChallengeQML/android/res/drawable-ldpi/icon.png
/CarChallengeQML/android/res/drawable-mdpi/icon.png
/CarChallengeQML/android/res/drawable/icon.png
/CarChallengeQML/android/res/drawable/logo.png
/CarChallengeQML/android/res/layout/splash.xml
/CarChallengeQML/android/res/values-de/strings.xml
/CarChallengeQML/android/res/values-el/strings.xml
/CarChallengeQML/android/res/values-es/strings.xml
/CarChallengeQML/android/res/values-et/strings.xml
/CarChallengeQML/android/res/values-fa/strings.xml
/CarChallengeQML/android/res/values-fr/strings.xml
/CarChallengeQML/android/res/values-id/strings.xml
/CarChallengeQML/android/res/values-it/strings.xml
/CarChallengeQML/android/res/values-ja/strings.xml
/CarChallengeQML/android/res/values-ms/strings.xml
/CarChallengeQML/android/res/values-nb/strings.xml
/CarChallengeQML/android/res/values-nl/strings.xml
/CarChallengeQML/android/res/values-pl/strings.xml
/CarChallengeQML/android/res/values-pt-rBR/strings.xml
/CarChallengeQML/android/res/values-ro/strings.xml
/CarChallengeQML/android/res/values-rs/strings.xml
/CarChallengeQML/android/res/values-ru/strings.xml
/CarChallengeQML/android/res/values-zh-rCN/strings.xml
/CarChallengeQML/android/res/values-zh-rTW/strings.xml
/CarChallengeQML/android/res/values/libs.xml
/CarChallengeQML/android/res/values/strings.xml
/CarChallengeQML/android/src/org/kde/necessitas/ministro/IMinistro.aidl
/CarChallengeQML/android/src/org/kde/necessitas/ministro/IMinistroCallback.aidl
/CarChallengeQML/android/src/org/kde/necessitas/origo/QtActivity.java
/CarChallengeQML/android/src/org/kde/necessitas/origo/QtApplication.java
/CarChallengeQML/CarChallengeQML
/GameleonQML/

/release
/qml/1Level.zip
/releases/windows/msvc
/doc/html
/doc/qdoc-samples/simple1/html
/temp
/demos/CarChallenge/CarChallenge
/wizards/*build-*
/demos/*build-*
/examples/*build-*
/*build-*/
build-*/
/demos/Squaby/Squaby
/examples/QMLDemonstration/demo2-live
/demos/*/*.zip
/demos/*/qml/*.zip
/examples/*/qml/*.zip
/examples/*/*.zip
# excludes e.g. examples/VPlayTests/performanceTests/loadTimeMeasurement/LoadTimeTestMain.zip
/examples/*/*/*/*.zip
/examples/plugins/*/qml/*.zip
/examples/*/zips/*.zip
temp
/doc/V-Play.qch
/demos/Squaby/qml/SquabyMain.zip
/VPlayQML
/demos/ChickenOutbreak/ChickenOutbreak
/examples/AudioTest/AudioTest
/demos/StackTheBox/StackTheBox
/demos/*/plugins/*
/examples/*/plugins/*
/wizards/*/plugins/*
/demos/*/qml/VPlay/gameNetwork/*
/examples/*/qml/VPlay/gameNetwork/*
/wizards/*/qml/VPlay/gameNetwork/*
/examples/MultiDragAndPinch/MultiDragAndPinch
/plugintypes/VPlay/*.dll
/plugintypes/VPlay/*.exp
/plugintypes/VPlay/*.lib
/*.rc
/demos/ParticleEditor/ParticleEditor

/app_icon.ico
#*.bat
/demos/*/vendor/*/bin
/demos/*/vendor/*/gen

/android/*/.idea
/android/**/*.iml
/android/**/gradle.properties
/android/**/local.properties

# Gimp source file
*.xcf

android/.gradle
android/.idea

maven/
/mocinclude.opt

*.qmlc
*.jsc
/qrc_resources_*.cpp
/moc_predefs.h
/object_script.libVPlay

installerpackages/
**/artifacts/
*.log
